venv/
.vs
.idea/vcs.xml
.idea/
.vs/Introducci\303\263n a la programaci\303\263n/FileContentIndex/8c27c344-9bb8-48c1-80b8-b41e2b802a88.vsidx"
.vs/Introducci\303\263n a la programaci\303\263n/FileContentIndex/read.lock"
.vs/Introducci\303\263n a la programaci\303\263n/v17/.suo"
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
